@using CarFuel.Model
@model IEnumerable<Car>
@{
    ViewBag.Title = "Index";
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="error">
            @TempData["error"]
        </span>
    </div>
}
<div class="well well-sm">
    <a id="gotoAdd" href="@Url.Content("~/cars/create")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add New Car
    </a>
    <b>Total: </b>
    <span id="count">@Model.Count()</span>
    cars
</div>
<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Average Km/L</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td class="item">@Html.ActionLink(car.Make , "Deatail", new { id = car.Id})</td>
                @*<td>@car.Model</td>
                <td>@car.AvgRateFillUp</td>*@
            </tr>
        }
    </tbody>
</table>
